/node_modules
/public/hot
/public/storage
/storage/framework/views
/storage/framework/sessions
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log


/public_html/uploads/categories_images/*
/public_html/uploads/products_images/*
/public_html/uploads/slides_images/*
/public_html/cgi-bin
/public_html/my.cnf
/public_html/php.ini

